<div class="container">
	<h2 style="padding-bottom:20px;">Course Offerings</h2>
	<accordion  close-others="false">
		<accordion-group heading="{{term[0].semester.term | titleCase}} {{term[0].semester.year}} Courses" ng-repeat="term in offerings" style="font-size:18px;font-weight:bold;">
      			<!-- <pre>{{year|json}}</pre> -->
      		<table class="table" style="font-size:14px;">
      			<thead>
      				<th>Course Number</th>
      				<th>Course Name</th>
      				<th>Capacity</th>
      				<th>Details</th>
      			</thead>
      			<tbody style="font-weight:normal;">
      				<tr ng-repeat="course in term">
      					<td>{{course.course.number}}</td>
      					<td>{{course.course.name}}</td>
      					<td>{{course.studentCapacity}}</td>
      					<td style="cursor:pointer;" ui-sref="courseDetails({courseId:course.course.number})" ng-click="setCourse(course);"><i class="fa fa-file-text-o"/></td>
      				</tr>
      			</tbody>
      		</table>
    	</accordion-group>
	</accordion>
</div>