<div class="container">
	<h2>Available Professors</h2>
	<div style="padding-bottom:20px;width:90%">
		<button class="btn pull-right" ng-click="openModal('lg', '')"><i class="fa fa-user-plus"> Add Professor</i></button>
	</div>
	<table class="table">
		<thead style="width:90%;display:block">
			<tr>
				<th style="width:113px;"></th>
				<th style="width:283px;">First Name</th>
				<th style="width:283px;">Last Name</th>
				<th style="width:297px;">Competencies</th>
				<th style="width:155px;"></th>
			</tr>
		</thead>
		<tbody style="display:block;height:800px;overflow-y:auto;width:90%">
			<tr ng-repeat="professor in professors" style="width:100%">
				<td style="width:113px;">{{$index+1}}</td>
				<td style="width:283px;">{{professor.firstName}}</td>
				<td style="width:283px;">{{professor.lastName}}</td>
				<td style="width:297px;">{{professor.competencies}}
				<td style="width:155px;cursor:pointer" ng-click="deleteProf(professor.id)"><i class="fa fa-trash-o"></i> Delete</td>
			</tr>
		</tbody>
	</table>
</div>
