<div class="container">
	<h2>Students Enrolled</h2>
	<span class="pull-right" style="padding-bottom:20px;">
		<button class="btn pull-right" ng-click="openModal('lg')"><i class="fa fa-user-plus"> Add New Student</i></button>
	</span>
	<table class="table">
		<thead style="width:100%;display:block">
			<tr>
				<th style="width:113px;"></th>
				<th style="width:283px;">First Name</th>
				<th style="width:283px;">Last Name</th>
				<th style="width:226px;">Student ID</th>
				<th style="width:226px;">Student Standing</th>
			</tr>
		</thead>
		<tbody style="display:block;height:800px;overflow-y:auto;width:100%">
			<tr id="studentRow" ng-repeat="student in students" style="width:100%;cursor:pointer;" ui-sref="studentDetails({id: student.studentId})">
				<td style="width:113px;">{{$index+1}}</td>
				<td style="width:283px;">{{student.firstName}}</td>
				<td style="width:283px;">{{student.lastName}}</td>
				<td style="width:226px;">{{student.studentId}}</td>
				<td style="width:226px;">{{student.seniority}}</td>
			</tr>
		</tbody>
	</table>
</div>