<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GA-Tech Course Optimizer</title>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="styles/app.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body ng-app="courseOpt">
    <div class="wrapper" ng-class="{'atl-img':state.current.name == 'auth'}">
            <div ng-include src="'scripts/masthead/masthead.html'" ng-if="state.current.name!='auth'"></div>
            <div>
                <div class="row col-md-12" ui-view="" style="float:none;"></div>
            </div>
        <div class="push"></div>
    </div>
    <div class="footer" style="background-color:#000044;color:#FFD700;margin-top:40px;" ng-if="state.current.name!='auth'">
        <div class="pull-left" style="padding:30px;">
            Created by: <br>Jaclyn Adams &nbsp&nbsp&nbsp&nbsp Joe Egan<br>Pawel Drozdz &nbsp&nbsp&nbsp&nbsp John Raffensperger
        </div>
    </div>

<!-- LIBRARIES -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-ui-select2/src/select2.js"></script>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/select2/select2.js"></script>
<script src="bower_components/bootstrap-select/bootstrap-select.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

<!-- APP SCRIPTS -->
<script src="scripts/app.js"></script>
<script src="scripts/admin/AdminCtrl.js"></script>
<script src="scripts/admin/AdminService.js"></script>
<script src="scripts/student/StudentCtrl.js"></script>
<script src="scripts/student/StudentService.js"></script>
<script src="scripts/auth/AuthCtrl.js"></script>
<script src="scripts/auth/AuthService.js"></script>
<script src="scripts/masthead/MastheadCtrl.js"></script>
<script src="scripts/courseCatalog/CourseCatalogCtrl.js"></script>
<script src="scripts/scheduleGenerator/ScheduleCtrl.js"></script>
<script src="scripts/rules/RulesCtrl.js"></script>
<script src="scripts/modal/ModalCtrl.js"></script>

<script src="scripts/dev/DevCtrl.js"></script>
<script src="scripts/dev/DevService.js"></script>

</body>
</html>