<div class="container">
	<h2 style="padding-bottom:20px;">Schedule Generator</h2>

	Please enter your top three desired courses: <br>

	1. Course: <select class="desiredCourseSelector" ng-model="desiredCourses[0]">
			<option value="">---</option>
			<option data-ng-repeat="course in courses" value="{{course}}">{{course.number}} {{course.name}}</option>
		</select>
		Preference: <select ng-model="courseRank[0]">
			<option value="">---</option>
			<option>1</option>
			<option>2</option>
			<option>3</option>
		</select><br>
	2. Course: <select class="desiredCourseSelector" ng-model="desiredCourses[1]">
			<option value="">---</option>
			<option ng-repeat="course in courses" value="{{course}}">{{course.number}} {{course.name}}</option>
		</select>
		Preference: <select ng-model="courseRank[1]">
			<option value="">---</option>
			<option>1</option>
			<option>2</option>
			<option>3</option>
		</select><br>
	3. Course: <select class="desiredCourseSelector" ng-model="desiredCourses[2]">
			<option value="">---</option>
			<option ng-repeat="course in courses" value="{{course}}">{{course.number}} {{course.name}}</option>
		</select>
		Preference: <select ng-model="courseRank[2]">
			<option value="">---</option>
			<option>1</option>
			<option>2</option>
			<option>3</option>
		</select>
		<br>
</div>