<div style="width:700px; height:500px;">
	<div class="modal-header">
    	<h2 class="modal-title" style="font-weight:normal;">Enroll New Student</h2>
	</div>
	<div class="modal-body">
		<div>
			<div class="spacing">First Name: <input type="text" ng-model="newStudent.firstName"></input></div>
			<div class="spacing">Last Name:  <input ng-model="newStudent.lastName"></input></div>
			<div class="spacing">Student ID: <input ng-model="newStudent.studentId"></input><br></div>
		</div>
		
		<div ng-show="err!=''" style="color:red;display:inline-block;"><b>{{err}}</b></div>
		<div ng-show="message!=''" style="color:green; display:inline-block;"><b>{{message}}</b></div>

		<div class="pull-right" style="margin:30px 0px;display:block;">
			<button class="btn" ng-click="addStudent()" ng-if="!done">Add Student</button>
			<button class="btn" ng-click="cancel()">Close</button>
		</div>
	</div>
</div>